<!DOCTYPE html>
<html ng-app="ServiceApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/lib/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angular.min.js.map"></script>
    <script type="text/javascript" src="/javascripts/view.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    
  </head>
  <body class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="servicesChoose" ng-controller="formController">
    	<form class="servicesForm">
    		<select name="servicesSelect" id="servicesList" ng-model="data.selectElement">
    			<option ng-repeat="service in services track by $index" value="{{service}}" >{{service}}</option>
    		</select>
        <button ng-click="getFileName(data.selectElement)" >Apply</button>
    	</form>
      
      <ul ng-show="showValue">
        <li ng-repeat="x in xml track by $index" >{{x}}
          <button ng-click="invokeOp(x)" id="{{x}}" >Invoke {{x}}</button>
        </li>
      </ul>
      <p ng-show="showInvoke">{{op.name}} is invoked at {{op.month}}.{{op.date}}.{{op.year}} {{op.hours}}:{{op.min}}:{{op.sec}}</p>
    </div>
  </body>
</html>
